@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
}